h1 {
    color : darkblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
h2{
    color :darkcyan;
} 
 
.header{
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    
}

.grid{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;

}

p,h2{
    text-align: center;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

.site-description{
    display: flex;
    flex-direction: column;
    background-color: beige;

}